#!/usr/bin/env bash

# Custom aliases

## Directories listing
if type exa >/dev/null 2>&1; then
    alias ls='exa --group-directories-first'
    alias lg="ls"
    alias lso='exa --group-directories-first --oneline'
    alias lst='exa --group-directories-first --tree --long --header'
    alias lls='exa --group-directories-first --header --long --git --icons -F'
fi

if type fd >/dev/null 2>&1; then
    if type exa >/dev/null 2>&1; then
        alias usb='fd ttyUSB /dev/ -X exa -lh && echo && fd ACM /dev/ -X exa -lh'
    else
        alias usb='fd ttyUSB /dev/ -X ls -lh && echo && fd ACM /dev/ -X ls -lh'
    fi
else
    alias usb='find /dev/ -name "ttyUSB*" -exec ls {} \; && find /dev/ -name "ttyACM*" -exec ls {} \;'
fi

if type bat >/dev/null 2>&1; then
    alias cat="bat"
fi


## apt related
if type apt >/dev/null 2>&1; then
    alias ulist='sudo apt list --upgradable'
    alias update='sudo apt update && ulist'
    alias in='sudo apt install'
fi

function upgrade() {
    if [ "$1" = list ]; then
        ulist
    else
        sudo apt upgrade -y
    fi
}

if [ "$(ps -o comm= -p "$$")" = "zsh" ]; then
    _upgrade() {
        compadd list now
    }
    compdef _upgrade upgrade
fi

## init shells
alias run='chmod +x'

## misc
alias idf-path='source "$HOME/esp/esp-idf/export.sh"'
alias sudo='sudo '
alias fucking=sudo

## find shortcuts using ripgrep
if type rg >/dev/null 2>&1; then
    alias aliases='rg "alias\s.*=" ~/.aliases ~/.bashrc ~/.zshrc'
    alias paths='rg "export\s" ~/.aliases ~/.bashrc ~/.zshrc && rg "source\s" ~/.aliases ~/.bashrc ~/.zshrc'
    SK_COMMAND='rg --color=always --line-number "{}"'
else
    alias aliases='grep "alias\s.*=" ~/.aliases ~/.bashrc ~/.zshrc'
    alias paths='grep "export\s" ~/.aliases && grep "source\s" ~/.aliases ~/.bashrc ~/.zshrc'
    SK_COMMAND='grep -rI --color=always --line-number "{}"'
fi

if type sk >/dev/null 2>&1; then
    alias search="sk --ansi -i -c '$SK_COMMAND'"
    alias open="vim \$(search | cut -d ':' -f1)"
fi

## arduino-cli
if ! type arduino-cli >/dev/null 2>&1; then
    alias arduino-cli='~/bin/arduino-cli'
fi

## vim like misc
alias :q='exit'
alias :w='exec "$(ps -o comm= -p "$$")"'
export KEYTIMEOUT=1

# make a directory and cd into it
function mkcd() {
    mkdir -p "$1"
    cd "$1" || false
}

# wifi keys
alias wifikey="sudo grep -r '^psk=' /etc/NetworkManager/system-connections/"

# misc
alias ping="ping -c 5"

# shellcheck disable=SC1090
# load zsh functions
for f in ~/.zsh_functions/*; do source "$f"; done

# Custom paths/exports

if [ -f /usr/bin/nvim ]; then
    export EDITOR='nvim'
    alias vim='nvim'
elif [ -f /usr/bin/vim ] && alias vi='vim'; then
    export EDITOR=vim
fi

## RPi Pico SDK Development variables
export PICO_SDK_PATH=~/pico-setup/pico/pico-sdk
export PICO_EXAMPLES_PATH=~/pico-setup/pico/pico-examples
export PICO_EXTRAS_PATH=~/pico-setup/pico/pico-extras
export PICO_PLAYGROUND_PATH=~/pico-setup/pico/pico-playground
