#!/bin/bash
# Custom aliases

## Directories listing
if type exa > /dev/null 2>&1 ; then
	alias ls='exa --group-directories-first'
	alias lg="ls"
	alias lso='exa --group-directories-first --oneline'
	alias lst='exa --group-directories-first --tree --long --header'
	alias lls='exa --group-directories-first --header --long --git --icons -F'
fi

if type fd > /dev/null 2>&1 ; then
	if type exa > /dev/null 2>&1 ; then
		alias usb='fd ttyUSB /dev/ -X exa -lh && echo && fd ACM /dev/ -X exa -lh'
	else
		alias usb='fd ttyUSB /dev/ -X ls -lh && echo && fd ACM /dev/ -X ls -lh'
	fi
else
	alias usb='find /dev/ -name "ttyUSB*" -exec ls {} \; && find /dev/ -name "ttyACM*" -exec ls {} \;'
fi


if type bat > /dev/null 2>&1 ; then
	alias cat="bat"
fi

## apt update
alias upgrade='sudo apt upgrade -y'
alias update='sudo apt update'
alias in='sudo apt install'
alias ulist='sudo apt list --upgradable'

## init shells
alias run='chmod +x'

## custom build envs
# alias cargos='cargo install --list'
# if type cargo-install-update > /dev/null 2>&1 ; then
# 	alias cargos-update='cargo install-update -a'
# fi
 
cargos() {
  if [ "$1" = update ]; then
	  cargo install-update -a
  else
	  cargo install --list
  fi
}

alias idf-path='source "$HOME/esp/esp-idf/export.sh"'

## find shortcuts using ripgrep
if type rg > /dev/null 2>&1 ; then
	alias aliases='rg alias ~/.aliases'
	alias paths='rg export ~/.aliases'
else
	alias aliases='grep alias ~/.aliases'
	alias paths='grep export ~/.aliases'
fi

## arduino-cli
alias arduino-cli='~/bin/arduino-cli'

## exit
alias :q='exit'

# Custom paths/exports

## RPi Pico SDK Development variables
export PICO_SDK_PATH=~/pico-setup/pico/pico-sdk
export PICO_EXAMPLES_PATH=~/pico-setup/pico/pico-examples
export PICO_EXTRAS_PATH=~/pico-setup/pico/pico-extras
export PICO_PLAYGROUND_PATH=~/pico-setup/pico/pico-playground
