#!/bin/bash


# Custom aliases

## Directories listing
if type exa > /dev/null 2>&1 ; then
	alias ls='exa --group-directories-first'
	alias lg="ls"
	alias lso='exa --group-directories-first --oneline'
	alias lst='exa --group-directories-first --tree --long --header'
	alias lls='exa --group-directories-first --header --long --git --icons -F'
fi

if type fd > /dev/null 2>&1 ; then
	if type exa > /dev/null 2>&1 ; then
		alias usb='fd ttyUSB /dev/ -X exa -lh && echo && fd ACM /dev/ -X exa -lh'
	else
		alias usb='fd ttyUSB /dev/ -X ls -lh && echo && fd ACM /dev/ -X ls -lh'
	fi
else
	alias usb='find /dev/ -name "ttyUSB*" -exec ls {} \; && find /dev/ -name "ttyACM*" -exec ls {} \;'
fi


if type bat > /dev/null 2>&1 ; then
	alias cat="bat"
fi




## apt update
alias ulist='sudo apt list --upgradable'
alias update='sudo apt update && ulist'

function upgrade() {
	if [ "$1" = list ] ; then
		ulist
	else
		sudo apt upgrade -y
	fi
}

if [ "$(ps -o args= -p "$$")" = "zsh" ] ; then
	_upgrade() {
		compadd list
	}
compdef _upgrade upgrade
fi

alias in='sudo apt install'




## init shells
alias run='chmod +x'


## misc
alias idf-path='source "$HOME/esp/esp-idf/export.sh"'
alias sudo='sudo '

## find shortcuts using ripgrep
if type rg > /dev/null 2>&1 ; then
	alias aliases='rg alias ~/.aliases'
	alias paths='rg export ~/.aliases'
else
	alias aliases='grep alias ~/.aliases'
	alias paths='grep export ~/.aliases'
fi

## arduino-cli
alias arduino-cli='~/bin/arduino-cli'

## exit
alias :q='exit'


# make a directory and cd into it
function mkcd() {
	mkdir -p "$1"
	cd "$1" || false
}

# wifi keys
alias wifikey="sudo grep -r '^psk=' /etc/NetworkManager/system-connections/"

# shellcheck disable=SC1090
# load zsh functions
for f in ~/.zsh_functions/* ; do source "$f" ; done

# Custom paths/exports

## RPi Pico SDK Development variables
export PICO_SDK_PATH=~/pico-setup/pico/pico-sdk
export PICO_EXAMPLES_PATH=~/pico-setup/pico/pico-examples
export PICO_EXTRAS_PATH=~/pico-setup/pico/pico-extras
export PICO_PLAYGROUND_PATH=~/pico-setup/pico/pico-playground

