[user]
	name = giripriyadarshan
	email = 43517605+giripriyadarshan@users.noreply.github.com
	username = giripriyadarshan
    signingkey = ~/.ssh/id_ed25519.pub

[core]
	editor = vim
	autocrlf = input

[grep]
	lineNumber = true

[sendemail]
    confirm = auto
    smtpserver = smtp.gmail.com
    smtpserverPort = 587
    smtpencryption = tls
    smtpuser = giripriyadarshan

[include]
    path = ~/.secrets/.gitconfig.local
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[color]
	ui = auto
[init]
	defaultBranch = main

[alias]
	total = "!f() { git log $@ --numstat | perl -ne '$i+=$1 and $d+=$2 if /^(\\d+)\\s+(\\d+)/; END { print \"$i insertion(s), $d deletion(s)\n\"}'; }; f"
[safe]
    directory = /opt/flutter

[commit]
    gpgsign = true

[gpg]
    format = ssh
