[user]
	name = giripriyadarshan
	email = 43517605+giripriyadarshan@users.noreply.github.com
	username = giripriyadarshan

[core]
	editor = vim

[grep]
	lineNumber = true

[sendemail]
    confirm = auto
    smtpserver = smtp.gmail.com
    smtpserverPort = 587
    smtpencryption = tls
    smtpuser = giripriyadarshan

[include]
    path = ~/.secrets/.gitconfig.local
